.my-navbar{
    background-color: #7d9bff!important;
}
.bordered{
    border: 2px solid #023af5;
    border-radius: 10px;
    padding: 2rem;
    min-height:32rem;
}
.title{
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}
.card-link{
    text-decoration: none;
    font-size: larger;
}
.btn-col{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form{
    width: 50%;
    margin: 0 auto;
}
.conference-card{
    margin: 1rem;
    transition: all 0.2s;
    box-shadow: 0px 0px 50px -30px rgba(0,0,0,0.75);
}
.conference-card:hover{
    box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.75);
}
#map {    
    height: 400px;
    width: 100%;
    margin: 2rem auto;
  }